---
layout: default
---

<div id="shim"></div>
<div id="content">
  <div class="logo_box"><h1>{{site.title}}</div>          
  <div class="main_box">
    <h2>Our website is coming soon.<br/><span>In the mean time connect with us with the information below</span></h2>
    
    <ul class="info">
      <li>
        <h3>Email</h3>
        <p class="social">
          <a href="mailto:{{ site.email }}" class="email">{{site.email}}</a>
        </p>
      </li>

      {% if site.twitter_username or site.facebook_username or site.linkedin_username %}
      <li>
        <h3>Social media</h3>
        <p class="social">  
        {% if site.twitter_username %}
          <a href="https://twitter.com/{{ site.twitter_username }}" class="tw"></a>
        {% endif %}
        {% if site.facebook_username %}
          <a href="https://www.facebook.com/{{ site.facebook_username }}" class="fb"></a>
        {% endif %}
        </p>
      </li>
      {% endif %}
    </ul>
  </div>
</div>